.home{
    width:100vw;
    height:100vh;
    display: flex;
}
.side-panel{
    width:17vw;
    background-color: rgb(132, 192, 248);
    
}
.chat-space{
    width:83vw;
    background-color: rgb(177, 216, 253);

}